<div class="toolbar" role="banner">
  <nav>
    <a class="button" routerLink="/user" routerLinkActive="activebutton">Assets</a>
  </nav>
</div>
<div class="content" role="main">

</div>
<router-outlet></router-outlet>